{% extends 'base.html' %}
{% block title %}Admin Reset Password{% endblock %}
{% block _page_heading %}
  {% include '_page_heading.html' %}
{% endblock %}
{% block content %}

<h1>Admin: Reset User Password</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(class="form-control") }}
    </p>
    <p>
        {{ form.submit(class="btn btn-primary") }}
    </p>
</form>

<br>
<a href="{{ url_for('index') }}">Home</a>

{% endblock %}